@use "sass:map";

.about {
    width: clamp(0px, map.get($container-width, small), 100%);
    margin: $global-navigation-height auto 0;

    &__container {
        padding: 0 12px;

        &--about {
            margin-bottom: 32px;

            a {
                color: color(link);
            }

            ul li::before {
                content: "•";
                margin-right: 4px;
            }
        }
    }

    &__profile {
        margin: 24px 0 32px;
    }

    &__title {
        margin: 0 0 24px;
        text-align: center;
    }
}
