.about {
    width: clamp(0px, map-get($container-width, small), 100%);
    margin: $global-navigation-height auto 0;

    &__container {
        padding: 0 12px;

        &--about {
            margin-bottom: 32px;

            a {
                color: color(link);
            }

            ul li::before {
                content: "•";
                margin-right: 4px;
            }
        }
    }

    &__profile {
        margin: 24px 0;

        > img {
            display: block;
            margin: 0 auto;
            border-radius: 50%;
        }
    }

    &__title {
        margin: 0 0 24px;
        text-align: center;
    }

    &__contact {
        display: flex;
        margin-bottom: 32px;
        gap: 8px;
        align-items: center;
        justify-content: center;

        > li > a {
            display: flex;
            padding: 8px;
            align-items: center;
            border: 1px solid color(sub);
            border-radius: 50%;

            > i {
                font-size: 1.2em;
            }
        }
    }
}
