$breakpoints: (
    "medium": (
        min-width: 720px,
    ),
    "large": (
        min-width: 1180px,
    ),
    "huge": (
        min-width: 1300px,
    ),
);

@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(type-of($raw-query) == "string", unquote($raw-query), inspect($raw-query));

        @media screen and (#{$query}) {
            @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`. '
           + 'Please make sure it is defined in `$breakpoints` map.';
    }
}
