$light-palette: (
    theme: #f1718c,
    text: #080808,
    highlight: #606060,
    background: #fff,
    navigation-background: rgba(255, 255, 255, 0.8),
    background-transparent: rgba(255, 255, 255, 0),
    background-dimmed: #d7d7d7,
    selection: #d9d9d9,
    main: #aaa,
    main-opacity: rgba(170, 170, 170, 0.7),
    sub: #aaa,
    sub-opacity: rgba(170, 170, 170, 0.7),
    list-text: #3d3d3d,
    comment: #e6e6e6,
    comment-2: #f2f2f2,
    comment-text: #515151,
    scroll: #aaa,
    masonry-alt: #fff,
    masonry-alt-transparent: rgba(230, 230, 230, 0),
    link: #0554bb,

    grayscale: (
        50: #fafafa,
        100: #f5f5f5,
        200: #eee,
        300: #e0e0e0,
        400: #bdbdbd,
        500: #9e9e9e,
        600: #757575,
        700: #616161,
        800: #424242,
        900: #212121,
    ),
);

$dark-palette: (
    theme: #f1718c,
    text: #bbb,
    highlight: #f1f1f1,
    background: #121212,
    navigation-background: rgba(0, 0, 0, 0.8),
    background-transparent: rgba(18, 18, 18, 0),
    background-dimmed: #161616,
    selection: #3c3c3c,
    main: #2b2b2b,
    main-opacity: rgba(43, 43, 43, 0.7),
    sub: #787878,
    sub-opacity: rgba(120, 120, 120, 0.7),
    list-text: #7d7d7d,
    comment: #292929,
    comment-2: #202020,
    comment-text: #aaa,
    scroll: #aaa,
    masonry-alt: #262626,
    masonry-alt-transparent: rgba(38, 38, 38, 0),
    link: #55b1ff,

    grayscale: (
        50: #161616,
        100: #212121,
        200: #424242,
        300: #616161,
        400: #757575,
        500: #9e9e9e,
        600: #bdbdbd,
        700: #e0e0e0,
        800: #eee,
        900: #f5f5f5,
    ),
);

$sepia-palette: (
    theme: #f1718c,
    text: #080808,
    highlight: #606060,
    background: #f6f1e1,
    navigation-background: rgba(242, 231, 196, 0.8),
    background-transparent: rgba(246, 241, 225, 0),
    background-dimmed: #ffe9c0,
    selection: #f4d9be,
    main: #793d00,
    main-opacity: rgba(121, 61, 0, 0.7),
    sub: #ad661f,
    sub-opacity: rgba(173, 102, 31, 0.7),
    list-text: #e4a667,
    comment: #f0cca8,
    comment-2: #f4d9be,
    comment-text: #653c12,
    scroll: #b06457,
    masonry-alt: #e8dbb0,
    masonry-alt-transparent: rgba(232, 219, 176, 0),
    link: #0021c2,

    grayscale: (
        50: #fafafa,
        100: #f5f5f5,
        200: #eee,
        300: #e0e0e0,
        400: #bdbdbd,
        500: #9e9e9e,
        600: #757575,
        700: #616161,
        800: #424242,
        900: #212121,
    ),
);

$container-width: (
    large: 1140px,
    small: 880px,
);

@function get-color($palette, $key, $sub-key: null) {
    @if map-has-key($palette, $key) {
        $color: map-get($palette, $key);

        @if type-of($color) == "map" {
            @if map-has-key($color, $sub-key) {
                @return map-get($color, $sub-key);
            }

            @warn "`#{$sub-key}` doesn't exist in color";
        }

        @return $color;
    }

    @warn "`#{$color}` doesn't exist in palette";
    @return null;
}

@function color($key, $sub-key: null) {
    @if map-has-key($light-palette, $key) {
        $color: map-get($light-palette, $key);

        @if type-of($color) == "map" {
            @if map-has-key($color, $sub-key) {
                @return var(--palette-#{$key}-#{$sub-key});
            }

            @warn "`#{$sub-key}` doesn't exist in color";
        }

        @return var(--palette-#{$key});
    }

    @warn "`#{$color}` doesn't exist in palette";
    @return null;
}
