@use "sass:map";

.home {
    padding-top: $global-navigation-height;

    &__header {
        position: relative;
        display: flex;
        width: clamp(0px, map.get($container-width, "large"), 100%);
        padding: 360px 20px 0;
        margin: 0 auto 12px;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include respond-to(medium) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__container {
        width: clamp(0px, map.get($container-width, "large"), 100%);
        margin: 36px auto 48px;

        &--padding {
            padding: 0 12px;
        }
    }

    &__category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;

        @include respond-to(medium) {
            grid-template-columns: repeat(4, 1fr);
        }

        > a {
            position: relative;
            display: block;
            padding: 32px 16px;
            border-radius: 12px;
            overflow: hidden;

            > i {
                position: absolute;
                top: 16px;
                right: 16px;
                font-size: 40px;
            }

            > div {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0.1;
                z-index: -1;
            }
        }
    }

    &__gallery {
        margin-bottom: 48px;
    }
}
