.tag-cloud {
    display: flex;
    width: clamp(0px, map-get($container-width, "large"), 100%);
    margin: 0 auto;
    // padding-right = padding-left + half of tag width
    padding: $global-navigation-height + 20px 12px 10px 12px + 15px;
    flex-wrap: wrap;
    gap: 0.75em;

    a {
        position: relative;
        display: inline-flex;
        height: 1.875em;
        margin-right: 0.75em;
        padding: 0 1em;
        gap: 0.25em;
        align-items: center;
        background-color: color(main);
        border-radius: 0 3px 3px 0;
        color: #fff;
        text-decoration: none;

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            background-color: color(background);
            border-radius: 100%;
            display: block;
            height: 6px;
            left: 0;
            margin-top: -3px;
            top: 50%;
            width: 6px;
            z-index: 3;
        }

        &::after {
            border: solid transparent;
            border-color: transparent color(main) transparent transparent;
            border-width: 15px;
            height: 0;
            margin-top: -15px;
            pointer-events: none;
            right: 100%;
            top: 50%;
            width: 0;
        }
    }
}
