.global-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 12px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    backdrop-filter: blur(8px) saturate(180%);
    z-index: 1000;

    &__container {
        display: flex;
        height: $global-navigation-height;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        flex: 1 0 0;
    }

    &__left {
        justify-content: flex-start;
    }

    &__right {
        justify-content: flex-end;
    }

    &__logo {
        margin-left: 8px;
    }

    &__category {
        display: none;
        height: $global-navigation-height;
        align-items: center;

        @include respond-to(medium) {
            display: flex;
        }

        a {
            @include typography(b2);
            color: #f1f1f1;
            font-weight: 500;
        }

        li {
            &:not(:last-child) {
                margin-right: 12px;
            }

            > i {
                margin-right: 4px;
            }
        }
    }
}
