.global-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 12px;
    z-index: 1000;

    &__container {
        display: flex;
        height: $global-navigation-height;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        flex: 1 0 0;
    }

    &__left {
        justify-content: flex-start;
    }

    &__right {
        justify-content: flex-end;
    }

    &__logo {
        margin-left: 8px;
    }

    &__category {
        display: none;
        height: $global-navigation-height;
        align-items: center;

        @include respond-to(medium) {
            display: flex;
        }

        a {
            @include typography(b2);
            color: color(text);
            font-weight: 500;
        }
    }

    &__item {
        $item: &;
        display: inline-flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 12px;
        }

        &--has-sub-menu {
            position: relative;

            &:hover {
                ul {
                    display: flex;
                }
            }
        }

        ul {
            $sub-menu: &;
            position: absolute;
            top: $global-navigation-height - 16px;
            left: 50%;
            display: none;
            flex-direction: column;
            justify-content: center;
            background-color: color(navigation-background);
            -webkit-backdrop-filter: blur(8px) saturate(180%);
            backdrop-filter: blur(8px) saturate(180%);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
            transform: translate(-50%, 0);

            li {
                a {
                    display: flex;
                    padding: 8px 16px;
                    align-items: center;
                    white-space: nowrap;

                    i {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}
