.page {
    $container-padding: 12px;

    img,
    video,
    iframe {
        max-width: 100%;
        height: auto;
    }

    &__header {
        position: relative;
        display: flex;
        height: 31.25rem;
        padding: 0 12px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        color: #fff;
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin-bottom: 12px;
    }

    &__post-information {
        width: clamp(0px, map-get($container-width, small), 100%);
        margin-bottom: 12px;
        padding: 36px $container-padding;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(8px);
        border-radius: 12px;

        @supports not (backdrop-filter: blur(8px)) {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &__body {
        @include typography(b1);

        width: clamp(0px, map-get($container-width, small), 100%);
        margin: 0 auto;
        padding: 64px $container-padding;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        word-wrap: break-word;

        @for $i from 1 through 6 {
            h#{$i} {
                @include typography(h#{$i});
                margin-bottom: 1em - ($i - 1) * 0.2em;
                font-weight: 700;
            }
        }

        p {
            @include typography(b1);
            margin-bottom: 0.65em;
        }

        b,
        strong {
            font-weight: 600;
        }

        small {
            font-size: 90%;
        }

        sub {
            bottom: -0.25em;
        }

        sup {
            top: -0.5em;
        }

        a {
            color: color(link);

            &:hover {
                color: color(highlight);
            }
        }

        figure {
            margin-bottom: 1em;
        }

        code {
            font-family: "Fira Code", monospace;
            font-size: 90%;
            padding: 0.2em 0.4em;
            border-radius: 4px;
            overflow-x: auto;
            background-color: color(main-opacity);
        }

        pre code {
            background-color: inherit;
        }

        hr {
            height: 0.25em;
            margin: 24px 0;
            border: 0;
            border-bottom: 1px solid color(sub-opacity);
            background-color: color(sub);
        }

        ol {
            list-style: decimal;
            margin-left: 1.5em;
        }

        ul {
            list-style: disc;
            margin-left: 1.5em;
        }

        blockquote {
            margin: 0 0 1em;
            padding: 0.5em 1em;
            border-left: 0.25em solid color(sub-opacity);

            p:last-child {
                margin-bottom: 0;
            }
        }

        table {
            width: 100%;
            margin-bottom: 1em;
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid color(sub-opacity);

            th,
            td {
                padding: 0.5em 1em;
                border: 1px solid color(sub-opacity);
            }

            th {
                font-weight: 700;
                background-color: color(sub-opacity);
            }
        }

        :global {
            figure.image-block {
                > figcaption {
                    @include typography(caption);
                    text-align: center;
                    margin-top: 0.2em;
                }
            }

            .table {
                overflow-x: auto;
            }
        }
    }
}
