.drawer-content {
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent);
    animation: fade-in 0.5s $ease-in-out-cubic forwards;
    z-index: 10000;

    &--close {
        animation: fade-out 0.5s $ease-in-out-cubic forwards;
    }

    &__hamburger {
        position: absolute;
        top: 5px;
        left: 12px;
        z-index: 10;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: clamp(0px, 100%, 350px);
        min-height: 100%;
        padding: $global-navigation-height 0;
        transition: opacity 0.3s $ease-in-out-cubic;
    }

    &__item {
        display: flex;
        margin: 8px 8px 24px;
        flex-direction: column;
        border-radius: 8px;
        background-color: color(background-dimmed);
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        > li {
            display: flex;
            align-items: center;
            padding: 16px 8px;

            &:not(:last-child) {
                border-bottom: 1px solid color(sub);
            }

            > a:first-child {
                @include typography(b1);
                display: flex;
                width: 100%;
                align-items: center;
                color: color(text);
                font-weight: 500;

                > i {
                    display: inline-flex;
                    align-items: center;
                    margin-right: 4px;
                }
            }
        }
    }
}
