.top-button {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 12px;
    bottom: 12px;
    font-size: 16px;
    background-color: color(masonry-alt);
    border-radius: 50%;
    transition: opacity 0.3s $ease-in-out-cubic;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;

    &__progress {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        stroke: color(theme);
        stroke-width: 3px;
        fill: transparent;
        transform: rotate(-90deg);
    }
}
