.archive {
    padding-top: $global-navigation-height;

    &__title {
        text-align: center;

        &--only {
            margin-top: $global-navigation-height + 72px;
            margin-bottom: $global-navigation-height + 48px;
        }
    }

    &__container {
        width: clamp(0px, map-get($container-width, "large"), 100%);
        margin: 36px auto 0;
        padding-bottom: 64px;
    }
}
