.archive {
    &__title {
        text-align: center;

        &--only {
            margin-top: $global-navigation-height + 72px;
            margin-bottom: $global-navigation-height + 48px;
        }
    }

    &__container {
        max-width: map-get($container-width, large);
        margin: 36px auto 0;
        padding-bottom: 64px;
    }
}
