@use "sass:map";

.guestbook {
    width: clamp(0px, map.get($container-width, small), 100%);
    margin: $global-navigation-height auto 0;

    &__title {
        margin: 24px 12px;
        text-align: center;
    }

    &__loader {
        display: block;
        margin: 0 auto;
    }
}
