.logo {
    $self: &;
    display: block;

    &__text {
        fill: color(text);

        @at-root #{$self}--white & {
            fill: color(text);
        }
    }

    @include supports-hover {
        &--hover-animation {
            path {
                transition: transform 0.5s;
            }

            &:hover {
                #{$self}__image > path {
                    transform: translate3d(331px, 0, 0);
                }

                #{$self}__text > path {
                    transform: translate3d(0, -600px, 0);

                    &:nth-child(2n) {
                        transform: translate3d(0, 600px, 0);
                    }
                }
            }
        }
    }
}
